/* 顶部
---------------------------------------------------------------- */
.top{
    height: ;
    background-color: red;
}

/* 头部搜索
---------------------------------------------------------------- */
.sur{
    height: ;
    background-color: green;
}

/* 焦点
---------------------------------------------------------------- */
.fouce{
    height: ;
    background-color: blue;
}

/* 热销
---------------------------------------------------------------- */
.hot{
    height: ;
    background-color: skyblue;
}

/* 楼层
---------------------------------------------------------------- */
.floor{
    height: ;
    background-color: slateblue;
}

/* 底部
---------------------------------------------------------------- */
.footer{
    height: ;
    background-color: tomato;
}